{
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "**/*.spec.js",
          "src/**/*.js",
          "**/lion-option.js",
        ],
      },
    ],
  },
}
